# Determine environment name based on commit branch name. Envs are specific
# (rather than an if/else catchall) to avoid problems with short-lived branches.
.set_env:
  variables:
    ENV: "NONE"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      variables:
        ENV: "dev"
    - if: $CI_COMMIT_BRANCH == "test"
      variables:
        ENV: "test"
    - if: $CI_COMMIT_BRANCH == "qa"
      variables:
        ENV: "qa"
    - if: $CI_COMMIT_BRANCH == "prod"
      variables:
        ENV: "prod"
  script:
    - echo "Environment is: ${ENV}"

include:
  - local: '.gitlab-ci/*.yml'

stages:
  - tf_validate
  - tf_plan
  - tf_apply
#  - az-powershell
#  - az-cli
