.install_dependencies:
  stage: .pre
  extends: .npm_default
  script:
    - npm ci --prefer-offline
  artifacts:
    expire_in: 2 hrs
    paths:
      - node_modules/
      - version.env
    reports:
      dotenv: version.env

.build_app:
  stage: build
  extends: .npm_default
  script:
    - npm version $APP_VERSION
    - npm run build
    - cp -r .next/standalone build
  artifacts:
    expire_in: 2 hrs
    paths:
      - build/
      - node_modules/
      - version.env
    reports:
      dotenv: version.env

.testing:
  stage: test
  extends: .npm_default
  script:
    - npm run test
  artifacts:
    expire_in: 2 hrs
    paths:
      - build/
      - version.env
    reports:
      dotenv: version.env

.zip:
  stage: predeploy
  extends: .npm_default
  before_script:
    - apt-get update
    - apt-get -y install zip jq
  script:
    - echo "Zipping CPC web app..."
    - cd build
    - zip -r ../build.zip *
    - echo "Zipping completed"
  artifacts:
    expire_in: 2 hrs
    paths:
      - ./build.zip
      - version.env
    reports:
      dotenv: version.env

# QA Jobs

install_dependencies_qa:
  extends: .install_dependencies
  needs:
    - job: bump_version_qa
      optional: true
      artifacts: true
  environment: qa
  rules:
    - if: $CI_COMMIT_BRANCH != 'prod'

build_app_qa:
  extends: .build_app
  needs:
    - job: install_dependencies_qa
      artifacts: true
  dependencies:
    - install_dependencies_qa
  environment: qa
  rules:
    - if: $CI_COMMIT_BRANCH != 'prod'

testing_qa:
  extends: .testing
  needs:
    - job: build_app_qa
      artifacts: true
  dependencies:
    - build_app_qa
  rules:
    - if: $CI_COMMIT_BRANCH != 'prod'

zip_qa:
  extends: .zip
  needs:
    - job: build_app_qa
      artifacts: true
  dependencies:
    - build_app_qa
  rules:
    - if: $CI_COMMIT_BRANCH != 'prod'

# Prod Jobs

install_dependencies_prod:
  extends: .install_dependencies
  needs:
    - job: bump_version_prod
      optional: true
      artifacts: true
  environment: prod
  rules:
    - if: $CI_COMMIT_BRANCH == 'prod'

build_app_prod:
  extends: .build_app
  needs:
    - job: install_dependencies_prod
      artifacts: true
  dependencies:
    - install_dependencies_prod
  environment: prod
  rules:
    - if: $CI_COMMIT_BRANCH == 'prod'

testing_prod:
  extends: .testing
  needs:
    - job: build_app_prod
      artifacts: true
  dependencies:
    - build_app_prod
  rules:
    - if: $CI_COMMIT_BRANCH == 'prod'

zip_prod:
  extends: .zip
  needs:
    - job: build_app_prod
      artifacts: true
  dependencies:
    - build_app_prod
  rules:
    - if: $CI_COMMIT_BRANCH == 'prod'
