.bump_version:
  stage: .pre
  extends: .npm_default
  before_script:
    - apt-get update
    - apt-get -y install jq
    - npm install -g semver
  artifacts:
    paths:
      - version.env
    reports:
      dotenv: version.env

bump_version_qa:
  extends: .bump_version
  script:
    - echo "APP_VERSION=$(bash ./release.sh)" >> version.env
    - cat version.env
  # Following rules only make bump version work when new commit is merged in main branch
  # $CI_PIPELINE_SOURCE => This check ensures that this job exeuctes only when commit is pushed or merged
  # $CI_COMMIT_TAG => This check prevents the job to run on a tag
  # $CI_COMMIT_BRANCH => This will make the job run only on default branch, i.e. main branch
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "schedule") && $CI_COMMIT_TAG == null && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

bump_version_prod:
  extends: .bump_version
  script:
    - echo "APP_VERSION=$(bash ./release_prod.sh)" >> version.env
    - cat version.env
  # Following rules only make bump version work when new commit is merged in main branch
  # $CI_PIPELINE_SOURCE => This check ensures that this job exeuctes only when commit is pushed or merged
  # $CI_COMMIT_TAG => This check prevents the job to run on a tag
  # $CI_COMMIT_BRANCH => This will make the job run only on prod branch
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "schedule") && $CI_COMMIT_TAG == null && $CI_COMMIT_BRANCH == 'prod'
