variables:
  # Azure
  ARM_CLIENT_ID: $ARM_CLIENT_ID
  ARM_CLIENT_SECRET: $ARM_CLIENT_SECRET
  ARM_SUBSCRIPTION_ID: $ARM_SUBSCRIPTION_ID
  ARM_TENANT_ID: $ARM_TENANT_ID
  ARM_RESOURCE_GROUP_NAME: $ARM_RESOURCE_GROUP_NAME

  ARM_WEB_APP_SERVICE_NAME: $ARM_WEB_APP_SERVICE_NAME
  ARM_WEB_APP_SERVICE_PLAN_NAME: $ARM_WEB_APP_SERVICE_PLAN_NAME

  WEB_ASP_SKU: $TF_VAR_web_asp_sku
  WEB_ASP_DEPLOYMENT_TARGET_SKU: $WEB_ASP_DEPLOYMENT_TARGET_SKU

  # Terraform
  TF_ROOT: $CI_PROJECT_DIR/terraform
  TF_CLI_CONFIG_FILE: $CI_PROJECT_DIR/terraform/.terraformrc
  TFSTATE_STORAGE_ACCOUNT_NAME: $TFSTATE_STORAGE_ACCOUNT_NAME
  TFSTATE_RESOURCE_GROUP_NAME: $TFSTATE_RESOURCE_GROUP_NAME
  TFSTATE_CONTAINER_NAME: $TFSTATE_CONTAINER_NAME

  # Versioning
  GITLAB_TOKEN: $GITLAB_TOKEN

  # Proxy
  NO_PROXY: $NO_PROXY,privatelink.azurewebsites.net,scm.azurewebsites.net,privatelink.blob.core.windows.net,privatelink.snowflakecomputing.com,gitlabp2.alliant-energy.com,z22.web.core.windows.net
  no_proxy: $NO_PROXY,privatelink.azurewebsites.net,scm.azurewebsites.net,privatelink.blob.core.windows.net,privatelink.snowflakecomputing.com,gitlabp2.alliant-energy.com,z22.web.core.windows.net

stages:
  - .pre
  - build
  - test
  - predeploy
  - deploy
  # - release

.npm_default:
  image: gitlabp2.alliant-energy.com:5050/devops/gitlab-ci-images/ae-node-18:18
  before_script:
    - unset HTTPS_PROXY
    - unset HTTP_PROXY
    - unset https_proxy
    - unset http_proxy
    - unset NO_PROXY
    - unset no_proxy
    - echo "Node version " $(node --version)
    - echo "NPM version " $(npm --version)
    - echo "App build version " $APP_VERSION

.tf_default:
  image: gitlabp2.alliant-energy.com:5050/cloud/gitlab-ci-images/ae-terraform:latest
  before_script:
    - echo "Terraform version " $(terraform --version)
    - echo "App build version " $APP_VERSION
    - echo -e "credentials \"$CI_SERVER_HOST\" {\n  token = \"$CI_JOB_TOKEN\"\n}" > $TF_CLI_CONFIG_FILE
    - cd ${TF_ROOT}
    - echo -e "Gitlab Project Environment\n--------------------------"
    - echo "$CI_ENVIRONMENT_NAME"
    - echo -e "Azure Environment Variables\n--------------------------"
    - env | grep '^ARM\|^TFSTATE'

.azcli_default:
  image: gitlabp2.alliant-energy.com:5050/cloud/gitlab-ci-images/ae-azurecli:latest
  before_script:
    - unset HTTPS_PROXY
    - unset HTTP_PROXY
    - unset https_proxy
    - unset http_proxy
    - unset NO_PROXY
    - unset no_proxy
    - echo "Azure CLI version " $(az --version)
    - echo "App build version " $APP_VERSION
