# deploy_web_qa:
#   stage: deploy
#   extends: .azcli_default
#   only:
#     - main
#   needs:
#     - job: tf_deploy_qa
#     - job: zip_web_qa
#       artifacts: true
#   environment: qa
#   dependencies:
#     - zip_web_qa
#   script:
#     - cd ./solarassista-web
#     - az login --service-principal -u ${ARM_CLIENT_ID} -p ${ARM_CLIENT_SECRET} --tenant ${ARM_TENANT_ID}
#     - az account set --subscription ${ARM_SUBSCRIPTION_ID}
#     - az appservice plan update --name ${ARM_WEB_APP_SERVICE_PLAN_NAME} --resource-group ${ARM_RESOURCE_GROUP_NAME} --sku ${WEB_ASP_DEPLOYMENT_TARGET_SKU}
#     - az webapp deployment source config-zip --resource-group ${ARM_RESOURCE_GROUP_NAME} --name ${ARM_WEB_APP_SERVICE_NAME} --src ./build.zip
#     - az appservice plan update --name ${ARM_WEB_APP_SERVICE_PLAN_NAME} --resource-group ${ARM_RESOURCE_GROUP_NAME} --sku ${WEB_ASP_SKU}
#     - az logout
#   artifacts:
#     paths:
#     - version.env
#     reports:
#       dotenv: version.env

# deploy_web_prod:
#   stage: deploy
#   extends: .azcli_default
#   only:
#     - prod
#   needs:
#     - job: tf_deploy_prod
#     - job: zip_web_prod
#       artifacts: true
#   environment: prod
#   dependencies:
#     - zip_web_prod
#   script:
#     - cd ./solarassista-web
#     - az login --service-principal -u ${ARM_CLIENT_ID} -p ${ARM_CLIENT_SECRET} --tenant ${ARM_TENANT_ID}
#     - az account set --subscription ${ARM_SUBSCRIPTION_ID}
#     - az appservice plan update --name ${ARM_WEB_APP_SERVICE_PLAN_NAME} --resource-group ${ARM_RESOURCE_GROUP_NAME} --sku ${WEB_ASP_DEPLOYMENT_TARGET_SKU}
#     - az webapp deployment source config-zip --resource-group ${ARM_RESOURCE_GROUP_NAME} --name ${ARM_WEB_APP_SERVICE_NAME} --src ./build.zip
#     - az appservice plan update --name ${ARM_WEB_APP_SERVICE_PLAN_NAME} --resource-group ${ARM_RESOURCE_GROUP_NAME} --sku ${WEB_ASP_SKU}
#     - az logout
#   artifacts:
#     paths:
#     - version.env
#     reports:
#       dotenv: version.env
