.deploy:
  stage: deploy
  extends: .azcli_default
  artifacts:
    paths:
      - version.env
    reports:
      dotenv: version.env
  script:
    - az login --service-principal -u ${ARM_CLIENT_ID} -p ${ARM_CLIENT_SECRET} --tenant ${ARM_TENANT_ID}
    - az account set --subscription ${ARM_SUBSCRIPTION_ID}
    - az webapp deploy --src-path ./build.zip --resource-group ${ARM_RESOURCE_GROUP_NAME} --name ${ARM_WEB_APP_SERVICE_NAME} --type zip --async
    - az logout

deploy_qa:
  extends: .deploy
  only:
    - qa
  needs:
    - job: tf_deploy_qa
    - job: zip_qa
      artifacts: true
  environment: qa
  dependencies:
    - zip_qa

deploy_prod:
  extends: .deploy
  only:
    - main
  needs:
    - job: tf_deploy_prod
    - job: zip_prod
      artifacts: true
  environment: prod
  dependencies:
    - zip_prod
