tf_validate:
  stage: tf_validate
  extends:
    - .tf_default
  script:
    - terraform init -backend=false 
    - terraform validate

tf_plan:
  stage: tf_plan
  extends:
    - .tf_default
    - .set_env
  script:
    - terraform init -backend-config "subscription_id=b2856ed9-3c85-4c85-bc56-5d88f31bc299" -backend-config "storage_account_name=$TFSTATE_STORAGE_ACCOUNT_NAME" -backend-config "resource_group_name=$TFSTATE_RESOURCE_GROUP_NAME" -backend-config "container_name=$TFSTATE_CONTAINER_NAME" -backend-config "key=${ENV}.tfstate"
    #- terraform force-unlock -force 378fe81d-3407-cf7b-9d86-14ad0d27df5d
    - terraform plan -var-file="${ENV}.tfvars" -input=false -out="${ENV}.tfplan"
    - terraform show -json "$ENV.tfplan" | jq -r '([.resource_changes[]?.change.actions?] | flatten) | {"create":(map(select(.=="create")) | length), "update":(map(select(.=="update")) | length), "delete":(map(select(.=="delete")) | length)}' > "plan_${ENV}.json"
  environment: $ENV
  rules:
    - !reference [.set_env, rules]
    - if: $ENV != "NONE"
  when: always
  artifacts:
    name: tf_plan
    paths:
      - ${TF_ROOT}/${ENV}.tfplan
    reports:
      terraform: ${TF_ROOT}/plan_${ENV}.json

tf_apply:
  stage: tf_apply
  extends:
    - .tf_default
    - .set_env
  environment: $ENV
  rules:
    - !reference [.set_env, rules]
    - if: $ENV != "NONE"
  script:
    - terraform init -backend-config "subscription_id=b2856ed9-3c85-4c85-bc56-5d88f31bc299" -backend-config "storage_account_name=$TFSTATE_STORAGE_ACCOUNT_NAME" -backend-config "resource_group_name=$TFSTATE_RESOURCE_GROUP_NAME" -backend-config "container_name=$TFSTATE_CONTAINER_NAME" -backend-config "key=${ENV}.tfstate"
    - terraform apply -input=false ${ENV}.tfplan
  dependencies:
    - tf_plan
  when: manual

